<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is about page</title>
</head>
<body>
Have you ever wanted to create a Web application but didn't know where to start? Have you previously tried to learn Django but got fed up with incomplete YouTube videos and poorly written tutorials? Or are you looking to move your code from Django 1 to Django 2?

THEN THIS IS THE COURSE FOR YOU!

In my Django course, I will walk you through the Django web framework from beginning to end! I'm a self-taught programmer so I know what it feels like to start from scratch. I care about your learning, but even more importantly... I care about you!

What is Django?

Django is an open-source web framework that is written in Python. It was created about twelve years ago, but in April 2019 Django 2.2 was released with a whole new set of features and capabilities!

Django is an amazing framework for web developers because it provides the infrastructure required for database-driven websites that have user authentication, content administration, contact forms, file uploads, and more. Instead of creating all of these features from scratch, you can use the Django framework and utilize these components that are already built, and focus your time on developing your web app instead.

If you're going to be working with Python, especially for web applications or web design, you'll want to learn the Django framework. It will save you a ton of time!

Contents and Overview

I believe we learn best by doing. So, throughout this course you'll be presented with coding quizzes and challenges in order for you to test what you just learned. This format will allow you to actually learn Django and not just follow along like a robot ;)

We will use Python in this course, so if you have never used Python before, we will start with a python refresher to get you up to speed (no other python experience required).

We will then dive into making three complete websites:

1 - Word-Counting Website: A simple website to count the most frequently used words in a piece of text. You will learn how to:

Install Django

Create a new project

Work with Django's URL routing

Submit and handle HTML form data
</body>
</html>